
body{
  display: block;
  min-width: 100%;
  background-color: white;
  min-height: 100%;

}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  min-height: 100vh;

}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.MuiGrid-item {}

.header-title {
  background-color: #61dafbaa;
}
.container {
  display: flex; 
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1 0;
  max-width: 100%;

}

.row {
  flex-direction: row;
  display: flex;
  flex: 1 1 0;
  flex-wrap: 1;
  flex-basis: 100%;

}

.row:last-child {
  height: 95%;
}

.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.column > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}