
/* body{
  display: block;
  min-width: 100%;
  background-color: white;
  min-height: 100%;

}
#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  min-height: 100vh;

} */


/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}


.header-title {
  background-color: #61dafbaa;
}

.titles-form{
  color: #1C63A5 !important;
  font-size: 1.0em;
  /*Bold*/;
  font-weight: bold !important;
  margin-bottom: 0.2em !important;
}
.subtitles-form{
  color: #3f90dc !important;
  font-size: 1.0em;
  /*Bold*/;
  margin-bottom: 0.2em !important;
}
/* .container {
  display: flex; 
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 1 0;
  max-width: 100%;

}

.row {
  flex-direction: row;
  display: flex;
  flex: 1 1 0;
  flex-wrap: 1;
  flex-basis: 100%;

}

.row:last-child {
  height: 95%;
}

.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.column > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
} */